body {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-image: url(/bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
}

.layer {
      background-color: rgba(248, 247, 216, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.content{
      width: 25%;

}
h1{
      display: flex;
      position: relative;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      width: 100%;
      height: 200px;
      justify-content: center;
      align-items: center;
      font-size: 70px; 
      color: #5375b4;     
}
h3{
      color: #5375b4;
}
.input-field{
      padding: 5px;
      text-align: right;
}

label{
      padding-right: 20px;
}

input{
      background-color: white;
      border: none;
      border-radius: 5px;
      height: 25px;
      color: #5375b4;
}

#button{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.button{
      text-align: center;
      background-color: #5375b4;
      height: 40px;
      width: 99%;
      border: none;
      margin-top: 30px;
      border-radius: 5px;
      font-weight: bold;
      color: white;
      box-shadow: 2px 2px 4px gray;
      font-size: 15px;
      text-transform: uppercase;
}
.button:hover{
      background-color: hsl(219, 39%, 60%);
      width: 100%;
      height: 42px;
}